html,body{
margin:0;
padding:0;
overflow:hidden;
background:#111;
font-family:monospace;
}

canvas{
display:block;
image-rendering:pixelated;
}

#controls{
position:fixed;
bottom:10px;
left:10px;
display:grid;
grid-template-columns:repeat(3,70px);
gap:5px;
}

button{
width:70px;
height:70px;
font-size:22px;
}
